<a href="https://colab.research.google.com/github/cruz-marco/pyspark_course/blob/main/pyspark_DIY02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#@title
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.2.3/spark-3.2.3-bin-hadoop3.2.tgz
!tar xf spark-3.2.3-bin-hadoop3.2.tgz

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64" 
os.environ["SPARK_HOME"] = '/content/spark-3.2.3-bin-hadoop3.2'

!pip install -q findspark

import findspark
findspark.init()
findspark.find()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext

# Faça você mesmo 02.

## 1. Crie um banco de dados no DW do Spark chamado VendasVarejo, e persista todas as tabelas neste banco de dados.

In [15]:
# Carregando todos os dados no formato DataFrame

clientes = spark.read.load(('/content/drive/MyDrive/Datasets/pyspark_course/Ati'
                            'vidades/Clientes.parquet'), format="parquet")

itens_vendas = spark.read.load(("/content/drive/MyDrive/Datasets/pyspark_course"
                                "/Atividades/ItensVendas.parquet"), 
                                format="parquet")

produtos = spark.read.load(("/content/drive/MyDrive/Datasets/pyspark_course/Ati"
                            "vidades/Produtos.parquet"), format="parquet")

vendas = spark.read.load(("/content/drive/MyDrive/Datasets/pyspark_course/Ativ"
                          "idades/Vendas.parquet"), format="parquet")

vendedores = spark.read.load(("/content/drive/MyDrive/Datasets/pyspark_course/A"
                            "tividades/Vendedores.parquet"), format="parquet")

dataframes = [clientes, itens_vendas, produtos, vendas, vendedores]     
frame_names = ['Clientes', 'ItensVendas', 'Produtos', 'Vendas', 'Vendedores']
for frame, name in zip(dataframes,frame_names):
  print(name)
  frame.show(5)

Clientes
+---------+--------------------+------+------+--------+
|ClienteID|             Cliente|Estado|Genero|  Status|
+---------+--------------------+------+------+--------+
|        1|Adelina Buenaventura|    RJ|     M|  Silver|
|        2|        Adelino Gago|    RJ|     M|  Silver|
|        3|     Adolfo Patrício|    PE|     M|  Silver|
|        4|    Adriana Guedelha|    RO|     F|Platinum|
|        5|       Adélio Lisboa|    SE|     M|  Silver|
+---------+--------------------+------+------+--------+
only showing top 5 rows

ItensVendas
+---------+--------+----------+-------------+----------+--------+----------------+
|ProdutoID|VendasID|Quantidade|ValorUnitario|ValorTotal|Desconto|TotalComDesconto|
+---------+--------+----------+-------------+----------+--------+----------------+
|        2|     400|         2|       9201.0|   18402.0| 6256,68|        12145.32|
|        2|     385|         2|       9201.0|   18402.0| 5704,62|        12697.38|
|        4|     395|         2|       6892.2|   13784.4| 5100,23|         8684.17|
|        4|     367|         2|       6509.3|   13018.6| 4816,88|         8201.72|
|        2|     380|         2|      7038.77|  14077.54| 4364,04|          9713.5|
+---------+--------+----------+-------------+----------+--------+----------------+
only showing top 5 rows

Produtos
+---------+--------------------+---------+
|ProdutoID|             Produto|    Preco|
+---------+--------------------+---------+
|        1|Bicicleta Aro 29 ...|8.852,00 |
|        2|Bicicleta Altools...|9.201,00 |
|        3|Bicicleta Gts Adv...|4.255,00 |
|        4|Bicicleta Trinc C...|7.658,00 |
|        5|Bicicleta Gometws...|2.966,00 |
+---------+--------------------+---------+
only showing top 5 rows

Vendas
+--------+----------+---------+--------+--------+
|VendasID|VendedorID|ClienteID|    Data|   Total|
+--------+----------+---------+--------+--------+
|       1|         1|       91|1/1/2019|  8053.6|
|       2|         6|      185|1/1/2020|   150.4|
|       3|         7|       31|2/1/2020|  6087.0|
|       4|         5|       31|2/1/2019| 13828.6|
|       5|         5|       31|3/1/2018|26096.66|
+--------+----------+---------+--------+--------+
only showing top 5 rows

Vendedores
+----------+----------------+
|VendedorID|        Vendedor|
+----------+----------------+
|         1|    Armando Lago|
|         2|Capitolino Bahía|
|         3|   Daniel Pirajá|
|         4| Godo Capiperibe|
|         5|  Hélio Liberato|
+----------+----------------+
only showing top 5 rows

- Criando o banco de dados VendasVarejo

In [11]:
spark.sql('Create database if not exists VendasVarejo')

spark.sql('show databases').show()

+------------+
|   namespace|
+------------+
|     default|
|vendasvarejo|
+------------+

In [12]:
spark.sql('use vendasvarejo').show()

++
||
++
++

- Escrevendo todos os DataFrames como tabelas usando um loop.

In [13]:
for frame, name in zip(dataframes, frame_names):
  frame.write.saveAsTable(f'{name}')

In [14]:
spark.sql('show tables').show()

+------------+-----------+-----------+
|   namespace|  tableName|isTemporary|
+------------+-----------+-----------+
|vendasvarejo|   clientes|      false|
|vendasvarejo|itensvendas|      false|
|vendasvarejo|   produtos|      false|
|vendasvarejo|     vendas|      false|
|vendasvarejo| vendedores|      false|
+------------+-----------+-----------+

## 2. Crie uma consulta que mostre de cada item vendido: Nome do Cliente, Data da Venda, Produto, Vendedor e Valor Total do item.

In [18]:
spark.sql(('select c.Cliente, v.Data, p.Produto, ve.Vendedor, iv.ValorTotal'
' from itensvendas as iv inner join vendas as v on iv.VendasID = v.VendasID '
'inner join vendedores as ve on v.VendedorID = ve.VendedorID inner join '
'clientes as c on v.ClienteID = c.ClienteID inner join produtos as p on'
' iv.ProdutoID = p.ProdutoID')).show()

+-----------------+--------+--------------------+----------------+----------+
|          Cliente|    Data|             Produto|        Vendedor|ValorTotal|
+-----------------+--------+--------------------+----------------+----------+
|   Cosme Zambujal|1/1/2019|Bicicleta Altools...|    Armando Lago|   7820.85|
|   Cosme Zambujal|1/1/2019|Bermuda Predactor...|    Armando Lago|     97.75|
|   Cosme Zambujal|1/1/2019|Camiseta Predacto...|    Armando Lago|     135.0|
|Gertrudes Hidalgo|1/1/2020|Luva De Ciclismo ...|   Iberê Lacerda|     150.4|
| Antão Corte-Real|2/1/2020|Capacete Gometws ...|Jéssica Castelão|     155.0|
| Antão Corte-Real|2/1/2020|Bicicleta Gometws...|Jéssica Castelão|    5932.0|
| Antão Corte-Real|2/1/2019|Bicicleta Altools...|  Hélio Liberato|   7820.85|
| Antão Corte-Real|2/1/2019|Bermuda Predactor...|  Hélio Liberato|     97.75|
| Antão Corte-Real|2/1/2019|Bicicleta Gometws...|  Hélio Liberato|    5910.0|
| Antão Corte-Real|3/1/2018|Bicicleta Gometws...|  Hélio Liberato|    2955.0|
| Antão Corte-Real|3/1/2018|Bicicleta Trinc C...|  Hélio Liberato|    7658.0|
| Antão Corte-Real|3/1/2018|Bicicleta Aro 29 ...|  Hélio Liberato|    8852.0|
| Antão Corte-Real|3/1/2018|Camiseta Predacto...|  Hélio Liberato|     121.5|
| Antão Corte-Real|3/1/2018|Bicicleta Gts Adv...|  Hélio Liberato|   6510.16|
| Antão Corte-Real|4/1/2020|Bicicleta Altools...|  Hélio Liberato|   18402.0|
| Antão Corte-Real|6/1/2019|Bicicleta Aro 29 ...|  Hélio Liberato|    7524.2|
|Gertrudes Infante|6/1/2019|Luva De Ciclismo ...|  Hélio Liberato|     376.0|
|Gertrudes Infante|6/1/2019|Bicicleta Gts Adv...|  Hélio Liberato|   3616.75|
|Gertrudes Infante|6/1/2019|Camiseta Predacto...|  Hélio Liberato|     108.0|
|Gertrudes Infante|6/1/2019|Bermuda Predactor...|  Hélio Liberato|     115.0|
+-----------------+--------+--------------------+----------------+----------+
only showing top 20 rows